<!DOCTYPE html>
<html>

<head>
    <title>Crypto Monitor</title>
    <meta charset="UTF-8">
</head>

<header>
    
    <h1>Pesquise seu cripto</h1>



</header>

<body>
    <h2>Pesquisar:</h2>

    <form action="/" method="POST">
        

        <p>Moeda: <input type="text" id="pesquisa"> </p>
        
        
        <br>

        <input type="checkbox" id="filtro_preco" name="filtros" value="1" >
        <label for="filtro_preco" >preço</label>
    
        <input type="text" id="min_preço">
        <input type="text" id="max_preço">
        <br>
        <br>
        <input type="checkbox" id="filtro_volume" name="filtros" value="1">
        <label for="filtro_volume">volume</label>

        <input type="text" id="min_volume">
        <input type="text" id="max_volume">

        <br>
        <br>

        <input type="checkbox" id="filtro_capitalização" name="filtros" value="1">
        <label for="filtro_capitalização">capitalização</label>
        
        <input type="text" id="min_capitalização">
        <input type="text" id="max_capitalização">
        
        <br>
        <br>

        <input type="checkbox" id="filtro_fdv" name="filtros" value="1">
        <label for="filtro_fdv" >FDV</label>

        <input type="text" id="min_fdv">
        <input type="text" id="max_fdv">
        
        <br>
        <br>
        
        <button type="submit">Enviar</button>


    </form>




</body>



</html>